body{background: #FFFCF6; font-family: system-ui; font-size: 18px; color: #454545;}
h1{font-family: system-ui;}
a:link {text-decoration: none; color: #454545;}
a:visited {text-decoration: none; color: #454545;}
a:hover {color: #707070;}

.header{text-align:center}

.navigation{text-align:center; background-color: #FFFCF6;}
.navigation a:link{color: #707070;}
.navigation a:visited {color: #454545;}
.navigation a:hover{color: black;}


